# Introduction to Python for Data Science

#### Instruktur

* Nama : IKetut Gunawan 
* Pengalaman industri IT :  From 1999 (Y2K) 
* Perusahaan : Pasar Raya , Wom Finance , Primavista (WireCard) , Kartuku (Spot) , Gojek , Dimo (DimoPay Uangku Cashback) , OttoDigital Salim Group ( Ottopay , OttoCash , Ottopoint ) , Vida (Now). 
* Skill 
    * Programming : C , Java, Golang , Python , Solidity  
    * Database : MySQL , Oracle, PostgreSQL , NoSQL
    * Message Broker : Redis Cluster, Kafka Cluster , RabitMQ 
    * Network 
    * DevOps 
    
https://www.linkedin.com/in/iketut-gunawan-1648a034/


| title | Description | 
|:------|:------------|
|Complexity Level | Beginner (Pemula)| 
|Prerequisite | Untuk mengambil program ini, pastikan kamu telah memahami kemampuan dasar komputer (web browsing, app installation, file navigating). Tidak diperlukan pengalaman pemrograman atau pengembangan aplikasi web apa pun sebelumnya. | 
| Program Description | Intro to Python for Data Science berisi semua hal dasar yang dibutuhkan untuk menjadi seorang Data Scientist. Program berbasis keterampilan ini ditujukan untuk learner, yang ingin belajar python dan ingin menerapkan statistik, machine learning, dan visualisasi informasi melalui toolkit python populer seperti pandas, matplotlib, scikit-learning, seaborn, dan banyak lagi untuk mendapatkan wawasan tentang data yang ada. Dan pada course yang terakhir learner akan belajar semua hal tentang Machine Learning yang akan mendukung kemampuan learner di bidang Data Science. Diharapkan setelah mengikuti Online Program ini learner akan menjadi seorang Data Scientist yang siap menghadapi dunia kerja di bidang Data Science. | 
| Program Objectives | ● Menggunakan fungsionalitas serta fitur dari Python yang digunakan untuk data science <br> ● Memahami Practical Statistics yang digunakan untuk data science <br> ● Query struktur DataFrame untuk cleaning and processing dataset <br> ● Membuat visualisasi basic hingga advance untuk representasi data <br> ● Membuat ML features yang memenuhi kebutuhan analisa data <br> ● Menggunakan scikit-learn untuk membuat dan evaluasi ML model <br> ● Mengimplementasikan Supervised dan Unsupervised Learning untuk memecahkan kasus nyata <br> ● Mampu melakukan deployment Model ML yang telah dibuat  |
| Program Output and Portfolio type | Lulusan program ini diharapkan mampu melakukan EDA (Exploratory Data Analysis ) dengan Python dan mampu membuat Machine Learning Model untuk memecahkan kasus nyata. |


link Markdown Cheatsheet <url>https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code </url>

Minimum device requirements:  Processor Core i3 gen 6 / Ryzen gen 1 (recommended: Core i5 gen 6 / Ryzen gen 2), RAM minimum 4GB (recommended: 8GB) and at least 100GB storage available. Preferably using Unix or Linux as an Operating System, or Windows 10 with WSL2 Ubuntu 18.04/20.04 Kernel.


Contents

This section covers what you'll learn in this labs.

1. Introduction: Basic Syntax, Data Type, and Variable
    * Self Paced Learning: Memahami Jupyter Notebook
2. Conditions, Control Flow & Looping
3. Function, Basic Module, and Package
4. Numpy
5. Pandas Introduction
6. Data Cleaning with Pandas
7. Basic Visualization
8. Advanced Visualization
    * Assignment Python 1
9. Descriptive Statistics
10. Inferential Statistics
    * Assignment Python 2
12. Regression Models
    * Self Paced Learning: Algoritma Machine Learning
13. Classification 1
14. Classification 2
    * Assignment 3 Python
15. Unsupervised
16. Model Deployment
    * Self Paced Learning: Mempelajari Machine Learning dengan Python
17. Final Projects
    * Final Project

## Tools yang bisa kita gunakan :

- Anaconda (Juypter Notebook)
- Visual Studio Code 
- Google Colab 
- Pycharm 
- Git Scm
- Register Github 
- Register Heroku

### Install Anaconda 

https://docs.anaconda.com/anaconda/install/

In [19]:
from IPython.display import Image
Image(url='https://i.ibb.co/4dR5SG7/anaconda-install.png', width=300)

#### Install Anaconda (Windows)

https://docs.anaconda.com/anaconda/install/windows/

#### Install Anaconda (Macos)

https://docs.anaconda.com/anaconda/install/mac-os/

#### Install Anaconda (Linux)

https://docs.anaconda.com/anaconda/install/linux/

### Install Visual Studio

https://code.visualstudio.com/

Install Python (Mac) M1
https://gist.github.com/iketutg/0ac8126ab153db5a84582a72f67c2bf6

##  Introduction to Python

Apa itu Python ? 

"Python is **Powerfull**, easy to use , Object Oriented Programming language" 

Powerfull : bisa berjalan di semua os dan sangat berguna.  

Python sangat berguna : Scripts & Program (Automation, Tools) , Web Development ( django, flask , fastapi) , Data Science

FastAPI : 
https://fastapi.tiangolo.com/ 

Flask : 
https://flask.palletsprojects.com/en/2.0.x/

Django :
https://www.djangoproject.com/  

Streamlit
https://streamlit.io/

## Apa itu  Data Science


“Data science adalah campuran dari banyak algoritma, alat, prinsip, dan bahasa untuk mengidentifikasi pola tersembunyi di dalam variabel dalam kumpulan data”

"Data science adalah proses penggalian pengetahuan dan wawasan dari data dengan menggunakan metode ilmiah"

Scienctific method : 
  Programming + Statistics + Busnies

## Alur Pemrogramman

<img src="https://i.ibb.co/0MkZvWh/logika.png" width="600" align="center">

## Intrepeter or Compiler ?

<img src="https://i.ibb.co/9VXZG2F/Python-Execution-Model.png" width="600" align="center">

<img src="https://i.ibb.co/PmKTKjX/python-compile.png" width="600" align="center">

Python bahasa pemrogramman intrepter . 
  
  1. contoh buat file hello.py 
  
  isi dari hello.py 

   print("Hello World") 


  2. Runing file python hello.py 

  $> python hello.py  #     


  3. Percobaan file python di compile : 

  $> python -m py_compile hello.py 
  
  akan terbentuk folder __pychache__  didalam folder akan tebentuk suatu file object main.cpython-39.pyc  
  dilihat dari file pyc  atau juga langsung terbentung file hello.pyc 
  
  $> python hello.pyc

## Menjalankan Jupyter Notebook : 

1. Anaconda Navigator 
   - Install Juypter Notebook 
   - Open Juypter Notebook 

2. Juypter Notebook command prompt  
    - Masuk ke terminal / command prompt 
    - jalankan printah command "jupyter notebook" 


3. Melalui Visual Studio Code Editor 
    - buat file new dengan extension ipynb contoh : latihan.ipynb 
    - maka akan mendeteksi untuk menginstall extension jupyter 
    - atau bisa langsung cari di marketplace pada visual studio code 


4. Melalui Google Colabs 
    - https://colabs.google.com

## playground Python 

- c:\> iPython3  

- python

## Short Cut Jupyter  

    While in command mode (press Esc to activate):

Enter take you into edit mode
* H show all shortcuts
* Up select cell above
* Down select cell below
* Shift + Up extend selected cells above
* Shift + Down extend selected cells below
* A insert cell above
* B insert cell below
* X cut selected cells
* C copy selected cells
* V paste cells below
* Shift + V paste cells above
* D, D (press the key twice) delete selected cells
* Z undo cell deletion
* S Save and Checkpoint
* Y change the cell type to Code
* M change the cell type to Markdown
* P open the command palette.
* Shift + Space scroll notebook up
* Space scroll notebook down

## Halo

## Short Cut Jupyter  

While in edit mode (pressEnter to activate)
Esc take you into command mode
Tab code completion or indent
* Shift + Tab tooltip
* Ctrl + ] indent
* Ctrl + [ dedent
* Ctrl + A select all
* Ctrl + Z undo
* Ctrl + Shift + Z or Ctrl + Y redo
* Ctrl + Home go to cell start
* Ctrl + End go to cell end
* Ctrl + Left go one word left
* Ctrl + Right go one word right
* Ctrl + Shift + P open the command palette
* Down move cursor down

## Introduction, Data Types, and Variables

## Tipe Data Python 
- Integers 
- Floating 
- String 
- Boolean

# Integers

In [31]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [33]:
ival = 123123123123123123123123123123123123123123123123 + 1

In [34]:
varabcde = 10

In [35]:
print(varabcde)

10

In [36]:
print(ival)

123123123123123123123123123123123123123123123124

In [25]:
type(ival)

int

# Floating-Point Numbers

Tipe float di Python menunjukkan bilangan floating-point. 

Nilai float ditentukan dengan titik desimal. 

Secara opsional, karakter e atau E diikuti dengan bilangan bulat positif atau negatif dapat ditambahkan untuk menentukan notasi ilmiah:

In [37]:
print(4.2)

print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# Strings

String adalah urutan data karakter. Jenis string dalam Python disebut str.

String literals dapat dipisahkan menggunakan tanda kutip tunggal atau ganda. Semua karakter antara pembatas pembuka dan pembatas penutup yang 'match' adalah bagian dari string:

In [38]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [39]:
print('') ## string bisa kosong

In [41]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

print('This string contains a double quote (\') character.')

print("This string contains a single quote (\") character.")

This string contains a single quote (') character.
This string contains a double quote (") character.
This string contains a double quote (') character.
This string contains a single quote (") character.

# Boolean Type, Boolean Context, and “Truthiness”

In [12]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assignment
 
    Bayangkan variabel sebagai nama yang dilampirkan ke objek tertentu. 
    Di Python, variabel tidak perlu dideklarasikan atau didefinisikan sebelumnya, 
    seperti halnya di banyak bahasa pemrograman lainnya. 
    Untuk membuat variabel, kalian cukup menetapkan nilai.
    Variable assignment dilakukan dengan satu tanda sama dengan (=):

In [42]:
n = 100

In [43]:
print(n)

100

In [44]:
n

100

In [17]:
n = 200

In [18]:
print(n)

200

In [45]:
x = y = z = 1000 
print(x,y,z)

1000 1000 1000

# Variable Types in Python

    variabel diketik secara statis. (Deklarasikan c/ int a ; ) 
    selain python variable tersebut selama masa pakainya harus selalu memiliki tipe itu.

    Di Python, variabel dapat diberi value dari satu jenis dan kemudian diberi value dari jenis yang berbeda:

In [20]:
varx = 25.5 
print(varx)
print(type(varx))

25.5
<class 'float'>

In [21]:
varx = "Halo Apa Kabar"
print(varx) 
print(type(varx))

Halo Apa Kabar
<class 'str'>

# Variable Names

      Secara resmi, nama variabel di Python bisa berapa pun panjangnya dan bisa terdiri dari huruf besar dan huruf 
      kecil (A-Z, a-z), digit (0-9), dan karakter garis bawah (_). 
      Batasan tambahan adalah bahwa, meskipun nama  variabel dapat berisi angka, 
      karakter pertama dari nama variabel tidak boleh berupa digit.

In [46]:
_ = "kosong" 
print(_)

kosong

In [47]:
_1 = "satu" 
print(_1)

satu

In [48]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

In [25]:
9_kepala_naga = "kepala"

SyntaxError: invalid decimal literal (2331802403.py, line 1)

In [49]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

* Camel Case: Kata kedua dan selanjutnya dikapitalisasi, untuk membuat batas kata lebih mudah dilihat. (Agaknya, seseorang pada titik tertentu menyadari bahwa huruf kapital yang berserakan di seluruh nama variabel samar-samar menyerupai punuk unta.)  
  * * Example: numberOfCollegeGraduates
<br>

* Pascal Case: Identical to Camel Case, except the first word is also capitalized.
    * Example: NumberOfCollegeGraduates
    

* Snake Case: Words are separated by underscores.
    * Example: number_of_college_graduates
    
Mau gunakan yang mana asal konsisten

In [50]:
amountSaldo = 500000 
print(amountSaldo)

AmountSaldo = 10000 
print(AmountSaldo)

amount_saldo = 1000
print(amount_saldo)

500000
10000
1000

# Operators and Expressions in Python

In [51]:
a = 10
b = 20
a + b
print(a+b)

30

In [52]:
a = 10
b = 20
a + b - 5

25

# basic arithmetic operation

| Operator | Description |	Syntax |
-----------|:-----------:|--------:|
| +	       |Addition: adds two operands |	x + y |
|–	 | Subtraction: subtracts two operands |	x – y |
|*	| Multiplication: multiplies two operands |	x * y | 
|/	| Division (float): divides the first operand by the second |	x / y |
|//	| Division (floor): divides the first operand by the second |	x // y | 
|%	| Modulus: returns the remainder when first operand is divided by the second | x % y |
|**	| Power : Returns first raised to power second |	x ** y |

In [53]:
11 % 2

1

In [54]:
10 / 2

5.0

In [32]:
11 // 2

5

In [58]:
# Here are some examples of these operators in use:
zz = 10
y = 3

In [59]:
print(zz + y)

13

In [60]:
print(zz - y)

7

In [61]:
print(x * y)

3000

In [62]:
# The result of standard division (/) is always a float, 
# even if the dividend is evenly divisible by the divisor:
print(x / y)

333.3333333333333

In [63]:
print(x // y) ##

333

In [39]:
print(x % y)  ## sisa

1

In [64]:

print(x ** y)

1000000000

# Operator Penugasan

|Operator |	Simbol |
|:--------|:-------|
| Pengisian |	= |
| Penjumlahan |	+= |
| Pengurangan |	-= |
| Perkalian |	*= |
| Pembagian |	/= |
| Sisa Bagi |	%= |
| Pemangkatan |	**= |

In [65]:
x = 10 
y = 20
x += y # x = x+y 
print(x)

30

In [66]:

a= 20 
b = 30 
b -=a 
print(b)

10

In [67]:
c = 50 
c *= 2 
print(c)

100

In [68]:
d = 100 
d /= 5 
print(d)

20.0

In [69]:
e = 24 
e %=5 
print(e)

4

In [46]:
f = 3 
f **= 2
print(f)

9

# Comparison Operators

    Operator ini untuk membandingkan dua buah nilai. 
    Operator ini adalah operator relasi dan sering digunakan untuk membuat sebuah logika atau kondisi.

|Operator |	Simbol |
|:--------|:-------|
|Lebih Besar|	> |
| Lebih Kecil |	< |
| Sama Dengan	| == | 
| Tidak Sama dengan |	!= |
| Lebih Besar Sama dengan |	>= |
| Lebih Kecil Sama dengan |	<= |

In [47]:
a = 10
b = 20

In [70]:
print(a == b) #

False

In [71]:
print(a != b) #

True

In [72]:
 
print(a <= b) #

False

In [51]:

print(a >= b) #

False

In [52]:
a = 30
b = 30
print(a == b) #

True

In [53]:

print(a <= b) #

True

In [54]:

print(a >= b) #

True

# Operator Logika

    Operasi logika, seperti logika AND, OR, NOT.

|Nama |	Simbol di Python |
|:----|:----------|
| Logika AND |	and |
| Logika OR	| or |
| Negasi/kebalikan |	not |


Contoh : "and" 

|x   and  y | result | 
|----------:|-----:|
|True and True | True |
|True and False | False |
|False and False | False   | 

Contoh : "or" 

|x   or  y | result | 
|----------:|-----:|
|True and True | True |
|True and False | True |
|False and False | False   |

In [55]:
a = True
b = False

# Logika AND
c = a and b
print(c)
print(a,b,c)

a = False 
c = a and b 
print(c)

a = True 
# Logika OR
c = a or b
print (a,b,c)

# Logika Not
c = not a
print(a,c)

False
True False False
False
True False True
True False

# Operator Ternary
Operator ternary juga dikenal dengan operator kondisi, karena digunakan untuk membuat sebuah ekspresi kondisi seperti percabgan IF/ELSE.

Operator ternary sebenarnya tidak ada dalam Python, tapi python punya cara lain untuk menggantikan operator ini.

Pada bahasa pemrograman lain operator ternary menggunakan tanda tanya (?) dan titik dua (:).

kondisi ? <nilai true> : <nilai false>
    
aku = (umur < 10) ? "anak" : "dewasa"

Dalam Python bentuknya berbeda, yaitu menggunakann IF/ELSE dalam satu baris.

In [76]:
umur = input("berapa umur kamu? ")
print(type(umur))
aku = "anak" if int(umur) < 10 else "dewasa"
print (aku)

<class 'str'>
dewasa

# String Manipulation

In [77]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [78]:
# * Operators

s = 'foo.'

print(s * 4)


print(50*"=")

foo.foo.foo.foo.
==================================================

In [79]:
# in Operators
s = 'foo'

print(s in 'That food for us')

print(s in 'That good for us')

True
False

In [80]:
# Case Conversion
s = 'HackTIV8'

# Lower
print(s.lower())


# Uppercase
print(s.upper())


# Swapcase
print(s.swapcase())


s = "hadapi dengan senyuman"
# Capitalize
print(s.capitalize())


s = "badai pasti berlalu"
# Title
print(s.title())

hacktiv8
HACKTIV8
hACKtiv8
Hadapi dengan senyuman
Badai Pasti Berlalu

# Python Lists

Singkatnya, list adalah kumpulan objek yang arbitrary, 

agak mirip dengan array dalam banyak bahasa pemrograman lain tetapi lebih fleksibel. 

List didefinisikan dalam Python dengan menyertakan sequence object 

yang dipisahkan koma dalam tanda kurung siku ([]), 

seperti yang ditunjukkan di bawah ini:

In [81]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)
print(type(a))

['foo', 'bar', 'baz', 'qux']
<class 'list'>

Karakteristik penting dari List Python adalah sebagai berikut:


* Lists di siapkan.
* Lists dapat berisi objek sembarang.
* Elemen Lists dapat diakses dengan indeks.
* List dapat masukan ke kedalaman yang bebas.
* List bisa berubah.
* List bersifat dinamis.

### Lists are ordered.

List bukan hanya kumpulan object.

List adalah kumpulan dari object yang berurutan. 

Urutan elemen ketika kalian membuat list akan bertahan selama List tersebut ada.

List yang memiliki elemen yang sama dalam urutan yang berbeda, tidak sama:

In [82]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
c = ['foo', 'bar', 'baz', 'qux']

print(a == b)

print(a == c)

False
True

### Lists can contain any arbitrary objects.

Sebuah List dapat berisi bermacam-macam objek. Element dari List semuanya bisa berjenis sama:

In [83]:
a=  [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List Elements Can Be Accessed by Index

Elemen individual dalam List dapat diakses menggunakan indeks dalam tanda kurung siku. 

Ini sama persis dengan mengakses karakter individu dalam sebuah string. 

Pengindeksan List berbasis nol seperti halnya dengan string.

Perhatikan List berikut ini:

In [84]:
lstA = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(lstA[5])
print(lstA[-1])

corge
corge

List Elements

![alt text](https://i.ibb.co/2dwyz0n/list.png "List Element")

In [85]:
print(lstA[0])
print(lstA[2])

print(lstA[6])

foo
baz

IndexError: list index out of range

List Elements

![alt text](https://i.ibb.co/HBpJ63P/list2.png "List Element")

In [86]:
print(lstA[-1])
print(lstA[-6])
print(lstA[-7])

corge
foo

IndexError: list index out of range

Slicing juga bisa digunakan. Jika lstA adalah list, 

ekspresi lstA[m:n] mengembalikan porsi lstA dari indeks m ke n,

tetapi tidak termasuk, indeks n:

In [87]:
lstA = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

lstA[1:4]

['bar', 'baz', 'qux']

In [71]:
lstA[0:2]

['foo', 'bar']

In [72]:
lstA[:3]

['foo', 'bar', 'baz']

In [190]:
lstA[3:]

['qux', 'quux', 'corge']

In [88]:
# The concatenation (+) and replication (*) operators:

print(lstA)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [89]:

print(lstA + ['grault', 'garply'])

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [90]:
print(lstA * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [93]:
lstA += ['grault', 'garply']
print(lstA)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'grault', 'garply', 'grault', 'garply']

In [94]:
lstA *= 2 
print(lstA)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'grault', 'garply', 'grault', 'garply', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'grault', 'garply', 'grault', 'garply']

In [95]:
# len(), min(), max()

lstB = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(lstB)
print(len(lstB))
print(min(lstB))
print(max(lstB))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux


Fungsi Python max() digunakan untuk menemukan nilai terbesar dalam daftar nilai. 

Fungsi Python min() digunakan untuk menemukan nilai terendah dalam daftar. 

Daftar nilai dapat berisi string atau angka.

In [96]:


lstNilai = [10,12,20,5,40,15]

print(min(lstNilai))
print(max(lstNilai))
print(min(10,20,1))

5
40
1

### Modifying a Single List Value

Satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana:

In [97]:
lstX = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(lstX)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [98]:
lstX[2] = 100 
print(lstX)

['foo', 'bar', 100, 'qux', 'quux', 'corge']

In [99]:
lstX = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
lstX[-1] = 10 
print(lstX)

['foo', 'bar', 'baz', 'qux', 'quux', 10]

In [100]:
# A list item can be deleted with the del command:

del lstX[3] 

print(lstX)

['foo', 'bar', 'baz', 'quux', 10]

### Modifying Multiple List Values

Bagaimana jika kalian ingin mengubah beberapa elemen yang bersebelahan dalam list sekaligus?

Python memungkinkan hal ini dengan slice, yang memiliki sintaks berikut:

In [101]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:3])

['bar', 'baz']

In [102]:

a[1:3] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'qux', 'quux', 'corge']

## List

In [103]:
### Operator in 

buah = ['apel','jeruk','durian','mangga','rambutan'] 

print('jeruk' in buah)

True

In [104]:
print('nangka' in buah )

False

In [105]:
### Mencari Index 

buah.index('mangga')

3

In [106]:
buah.index('anggur')

ValueError: 'anggur' is not in list

In [107]:
# menambahkan 
buah.append('jeruk')
print(buah)

['apel', 'jeruk', 'durian', 'mangga', 'rambutan', 'jeruk']

In [108]:
# ditemukan nama yg sama maka yg di ambil yg pertama 
buah.index('jeruk')

1

In [109]:
# menghapus menggunakan index
del buah[1] 
print(buah)

['apel', 'durian', 'mangga', 'rambutan', 'jeruk']

In [110]:
# menghapus menggunakan value 
buah.remove('mangga')
print(buah)

['apel', 'durian', 'rambutan', 'jeruk']

In [111]:
## Sorting list 
buah.sort()
print(buah)

['apel', 'durian', 'jeruk', 'rambutan']

In [112]:
## Menyalin list 

listx = ['c','d','a'] #
listy = listx # list
print(listy)

['c', 'd', 'a']

In [113]:

listy[0]='a'
print(listy)

['a', 'd', 'a']

In [114]:
print(listx) ## akan mengikuti variabel dari y

['a', 'd', 'a']

In [116]:

import copy 
list1 = copy.copy(listx) #
print(list1) #
list1[0] = 'x' # list
print(listx) # list
print(list1)

['a', 'd', 'a']
['a', 'd', 'a']
['x', 'd', 'a']

## Python Tuples

Python menyediakan tipe lain dari kumpulan objek yang berurutan, disebut tuple.


### Defining and Using Tuples

Tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:

Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) 

daripada tanda kurung siku ([]).

Tuples tidak bisa diubah. 

Berikut adalah contoh singkat yang menunjukkan pendeklarasian tuple, 

pengindeksan, dan slicing:

In [117]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [219]:
print(t[0])

foo

In [118]:
print(t[-1])

corge

In [119]:
t[0] = "fee" 
print(t)

TypeError: 'tuple' object does not support item assignment

In [121]:
# packing and unpacking

(s0,s1,s2,s3,s4,s5) = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(s3)

qux

In [122]:
(s0,s1,s2,s3,s4) = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

ValueError: too many values to unpack (expected 5)

## Python Dictionary

Dictionaries and lists share the following characteristics:

* Keduanya bisa berubah.
* Keduanya dinamis. bisa ditambahkan dan dikurangi sesuai kebutuhan.
* Keduanya dapat bersarang. Sebuah list dapat berisi list lain. Dictonarie dapat berisi Dictonary lain. 
Dictonary juga dapat berisi List, dan sebaliknya.

Dictonary berbeda dari daftar terutama dalam cara elemen diakses:

* Elemen list diakses berdasarkan posisinya dalam list, melalui pengindeksan.
* Elemen Dictonary diakses melalui key.

Defining a Dictionary
Dictionaries adalah implementasi Python dari struktur data yang lebih dikenal sebagai associative array. Dictionaries terdiri dari key-value pairs. 
Setiap key-value pairs memetakan key ke value yang terkait.

Kalian bisa mendefinisikan Dictionaries dengan mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal ({}). Titik dua (:) memisahkan setiap kunci dari nilai yang terkait.

<img src="https://i.ibb.co/zRsctx8/mlb.png" width="400" align="center">

In [123]:
# from IPython.display import Image
# Image(url='https://i.ibb.co/zRsctx8/mlb.png', width=200)

Accessing Dictionary Values

Sebuah nilai diambil dari dictionary dengan menentukan kunci yang sesuai dalam tanda kurung siku ([]):

In [124]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [125]:
print(MLB_team)
print(MLB_team["Boston"])
print(MLB_team["Seattle"])

print(MLB_team["Milwaukee "])

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
Red Sox
Mariners

KeyError: 'Milwaukee '

In [126]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [127]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [128]:
MLB_team['Kansas City']

'Royals'

In [129]:
# To delete an entry, use the del statement, specifying the key to delete:

del(MLB_team['Seattle'])

In [130]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [131]:
del(MLB_team["Boston"])
MLB_team

{'Colorado': 'Rockies',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [132]:
del(MLB_team['Seattle'])
MLB_team

KeyError: 'Seattle'

### Building a Dictionary Incrementally

Mendefinisikan dictionary menggunakan tanda kurung kurawal dan key-value pairs, seperti yang ditunjukkan di atas, tidak masalah jika kalian mengetahui semua kunci dan nilai sebelumnya. Tetapi bagaimana jika kalian ingin membuat dictionary sambil jalan?

Kalian bisa mulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawal kosong. Kemudian kalian dapat menambahkan kunci dan nilai baru satu per satu:

In [133]:
person = {} 
type(person)

dict

In [134]:
person['fname'] = "IKetut"
person["lname"] = 'Gunawan' 
person['age']=45 
person["children"] =['Yusuf','Sulaiman','Ibrahim','Fatimah']
person['pets'] = [{'keysArr': ['ath', 'atl', 'circulatingSupply'],'Dog':'Jumba'}]
person["skill"] = {"programming":['Java','Golang','Python','Solidity'],
                   "database":{"nosql":['MonggoDb','Neo4J'],"rdbms":['Mysql','PostgreSQL','Oracle']}}

In [135]:
print(person)

{'fname': 'IKetut', 'lname': 'Gunawan', 'age': 45, 'children': ['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah'], 'pets': [{'keysArr': ['ath', 'atl', 'circulatingSupply'], 'Dog': 'Jumba'}], 'skill': {'programming': ['Java', 'Golang', 'Python', 'Solidity'], 'database': {'nosql': ['MonggoDb', 'Neo4J'], 'rdbms': ['Mysql', 'PostgreSQL', 'Oracle']}}}

In [136]:
coins = {}
print(person['pets'][0]['keysArr']==['ath'])
thislist = person['pets'][0]['keysArr']
for i in range(len(thislist)):
    print(thislist.index('atl'))
    key = thislist.index('atl')
    value = thislist.index('atl')
    coins[str(thislist.index('atl'))] = thislist.index('atl')
    coins.update({key: value})
     
print(coins)

False
1
1
1
{'1': 1, 1: 1}

In [28]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [137]:
import pprint 
pprint.pprint(person)

{'age': 45,
 'children': ['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah'],
 'fname': 'IKetut',
 'lname': 'Gunawan',
 'pets': [{'Dog': 'Jumba', 'keysArr': ['ath', 'atl', 'circulatingSupply']}],
 'skill': {'database': {'nosql': ['MonggoDb', 'Neo4J'],
                        'rdbms': ['Mysql', 'PostgreSQL', 'Oracle']},
           'programming': ['Java', 'Golang', 'Python', 'Solidity']}}

In [138]:
person["status_menikah"] = True

In [139]:
import json
print(json.dumps(person, sort_keys=False, indent=4))

{
    "fname": "IKetut",
    "lname": "Gunawan",
    "age": 45,
    "children": [
        "Yusuf",
        "Sulaiman",
        "Ibrahim",
        "Fatimah"
    ],
    "pets": [
        {
            "keysArr": [
                "ath",
                "atl",
                "circulatingSupply"
            ],
            "Dog": "Jumba"
        }
    ],
    "skill": {
        "programming": [
            "Java",
            "Golang",
            "Python",
            "Solidity"
        ],
        "database": {
            "nosql": [
                "MonggoDb",
                "Neo4J"
            ],
            "rdbms": [
                "Mysql",
                "PostgreSQL",
                "Oracle"
            ]
        }
    },
    "status_menikah": true
}

In [140]:
print(person['fname'])
print(person['lname'])

IKetut
Gunawan

In [142]:
print(person['children'])
print(person['children'][2])

['Yusuf', 'Sulaiman', 'Ibrahim', 'Fatimah']
Ibrahim

In [143]:
print(person['skill']['database'])

{'nosql': ['MonggoDb', 'Neo4J'], 'rdbms': ['Mysql', 'PostgreSQL', 'Oracle']}

In [144]:
print(person['skill']['database']['rdbms'])

['Mysql', 'PostgreSQL', 'Oracle']

In [145]:
print(person['skill']['database']['rdbms'][1])

PostgreSQL

In [147]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [148]:

# items
print(d.items())

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [149]:

# keys
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [150]:

# values
print(d.values())

dict_values([10, 20, 30])

### Line Continuation

Misalkan satu pernyataan dalam kode Python kalian sangat panjang. 
Misalnya, kalian mungkin memiliki assignment statement dengan banyak terms:

In [152]:
person1_age = 42
person2_age = 16
person3_age = 71


someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_working_age

True

In [153]:
someone_is_of_working_age = ( (person1_age >= 18 and person1_age <= 65) or 
                             (person2_age >= 18 and person2_age <= 65) or 
                             (person3_age >= 18 and person3_age <= 65)
                            )
someone_is_of_working_age

True

### Casting 
    Merubah dari satu tipe ke tipe lain 
    tipe data  ("int","float","str","bool")

In [155]:
# float 

data_float = 10.2
print ("data :",data_float," Tipe : ",type(data_float))

data : 10.2  Tipe :  <class 'float'>

In [156]:
#casting float 
data_int = int(data_float) # lakukan uji coba diganti data_float adakah pembulatan ? tidak ada 
data_str = str(data_float) 
data_bool = bool(data_float) # lakukan uji coba diganti data_float

print ("data :",data_int," Tipe : ",type(data_int))
print ("data :",data_str," Tipe : ",type(data_str))
print ("data :",data_bool," Tipe : ",type(data_bool))

data : 10  Tipe :  <class 'int'>
data : 10.2  Tipe :  <class 'str'>
data : True  Tipe :  <class 'bool'>

In [157]:
# int 

data_int = 0 
print ("data :",data_int," Tipe : ",type(data_int))

data : 0  Tipe :  <class 'int'>

In [158]:
#casting int 
# perhatikan tipe data bool cating 

data_float = float(data_int) 
data_str = str(data_int) 
data_bool = bool(data_int)  # kapan false jika nilai 0  , selain 0 adalah true 

print ("data :",data_int," Tipe : ",type(data_float))
print ("data :",data_str," Tipe : ",type(data_str))
print ("data :",data_bool," Tipe : ",type(data_bool))

data : 0  Tipe :  <class 'float'>
data : 0  Tipe :  <class 'str'>
data : False  Tipe :  <class 'bool'>

In [159]:
# bool 

data_bool = False   # change to True
print ("data :",data_bool," Tipe : ",type(data_bool))

data : False  Tipe :  <class 'bool'>

In [152]:
#casting bool 
data_int = int(data_bool) 
data_str = str(data_bool) 
data_float = float(data_bool) 

print ("data :",data_int," Tipe : ",type(data_int))
print ("data :",data_str," Tipe : ",type(data_str))
print ("data :",data_float," Tipe : ",type(data_float))

data : 0  Tipe :  <class 'int'>
data : False  Tipe :  <class 'str'>
data : 0.0  Tipe :  <class 'float'>

In [156]:
# str 

data_str = "10.5"   #   coba char , numeric , " ", ""
print ("data :",data_str," Tipe : ",type(data_str))

data : 10.5  Tipe :  <class 'str'>

In [160]:
#casting str 
data_bool  = bool(data_str)  # harus .... untuk menjadi False 
data_int   = int(float(data_str))   # harus ....
data_float = float(data_str) # harus .... 

print ("data :",data_bool," Tipe : ",type(data_bool))
print ("data :",data_int," Tipe : ",type(data_str))
print ("data :",data_str," Tipe : ",type(data_str))

data : True  Tipe :  <class 'bool'>
data : 0  Tipe :  <class 'str'>
data : 0  Tipe :  <class 'str'>

In [159]:
text = "Belajar Python di Hactiv8."

print(list(text))
print(tuple(text))
print(set(text))

['B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'H', 'a', 'c', 't', 'i', 'v', '8', '.']
('B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'H', 'a', 'c', 't', 'i', 'v', '8', '.')
{'y', 'h', 'o', 't', 'a', 'e', ' ', 'P', 'r', 'd', 'v', 'n', 'B', 'j', 'l', '8', 'H', 'c', 'i', '.'}

### Git Today 

#### Install Git 
https://git-scm.com/download/win

#### Register Github 

#### Push Code to Repository

### TipsPY 

Tahukan kalian ada beberapa tools lain yang populer untuk membuat Notebook selain di Jupyter Notebook?

1. Google Colab

    Kalian dapat membuat Notebook di cloud dengan komputasi yang sangat baik dengan menggunakan Google Colab yang bisa diakses di alamat https://colab.research.google.com/ . File notebook yang kalian buat akan langsung masuk ke Google Drive kalian dan bisa pula langsung dikoneksikan dengan github!

2. Visual Studio Code

    Dengan VSCode, kalian dapat membuat dan bekerja dengan file notebook langsung di dalam kode editor ini. Tapi tetap pastikan kalau Jupyter server sudah terinstall di environment kalian ya.

3. Amazon Sagemaker

    Dengan AWS Sagemaker kita dapat membuat dan mengelola notebook Jupyter yang selanjutnya dapat digunakan untuk memproses data dan melatih dan menerapkan model ML lebih lanjut. Untuk pelatihan dan penerapan model, Sagemaker menyediakan API. Amazon SageMaker menyediakan konsol yang memungkinkan kita menggunakan konsol UI untuk memulai pelatihan model atau menerapkan model. Sagemaker memungkinkan integrasi model ML dengan mudah dalam aplikasi dan dapat diakses di https://aws.amazon.com/sagemaker/

4. Azure Notebooks

    Microsoft Azure sangat mirip dengan Colab dalam hal fungsionalitas. Kedua platform ini memiliki fungsionalitas berbagi cloud yang tersedia secara gratis. Azure Notebooks unggul dalam hal kecepatan dan jauh lebih baik daripada Colab dan dapat diakses di https://azure.microsoft.com/

## Self Paced Learning: Memahami Jupyter Notebook 

### Memahami Jupyter Notebook


Silahkan pelajari secara mandiri pembelajaran ini:

https://www.kode.id/courses/memahami-jupyter-notebook

Kemudian buat SUMMARY dari video pembelajaran tersebut max 2 lembar A4 dengan mencantumkan identitas berupa NAMA dan PROGRAM pada bagian POJOK KIRI ATAS review materi.

Instruksi Pengumpulan:
1. File dikumpulkan dalam format .pdf
2. Format Judul File menggunakan [Nama Lengkap] - [Judul Pembelajaran].pdf (Contoh: Lutfi Dwimulya - Penerapan Materialize CSS)

3. Review diupload ke Google Classroom

### ....

### Melakukan Comment Pada Python
print("Ini adalah sebuah baris kode") #ini adalah contoh comment dan tidak akan tercetak

In [ ]:
print("Ini adalah sebuah baris kode") #ini adalah contoh comment dan tidak akan tercetak

#### tipe data squence

In [11]:
str(['Hello',25]) # ?

"['Hello', 25]"

In [13]:
# function list 
# Urutan bilangan dan teks yang diapit oleh kurung siku 
# dan masing-masing elemennya dipisahkan dengan koma.
list("Python") #

['P', 'y', 't', 'h', 'o', 'n']

In [14]:
list((3, 2, 3))

[3, 2, 3]

In [15]:
list({1, 2, 0, 6})

[0, 1, 2, 6]

In [16]:
# tuple 
tuple("hactiv8")

('h', 'a', 'c', 't', 'i', 'v', '8')

In [17]:
tuple((3, 2, 1))

(3, 2, 1)

In [18]:
tuple({1, 3, 6, 3})

(1, 3, 6)

In [7]:
# set 
# Setiap elemennya bernilai unik
a = set("xHHaalllooi") 
print(a) 
type(a)

{'o', 'i', 'a', 'x', 'l', 'H'}

set

In [ ]:
set((0,4,3,1, 2, 1))

In [94]:
set([1, 3, 6, 3])

{1, 3, 6}